@import "../../assets/scss/variables.scss";

.svg-icon {
    transition: 250ms;
  }

  .svg-icon.comment .primary {
    fill:none;
    stroke:var(--main-card-color);
  }

  .svg-icon.comment-content .primary {
    fill:none;
    stroke:#A5A5A5;
  }

  
  
  