@import "../../../assets/scss/mixin.scss";
@import "../../../assets/scss/variables.scss";

.grid {
  position: relative !important;
  .card-style {
    position: relative;
    width: 240px;
    min-height: 100px;
    margin: 10px 5px;
    height: auto !important;
    border-radius: 3px;
    border: 1px solid var(--card-border);
    background-color: var(--main-card-bg-color);
    @include mobile {
      width: 97%;
      margin: 3px;
    }

    .readMore {
      font-size: 13px;
      color: var(--text-color);
      margin: 2%;
      width: 98%;
      // display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-align: left;
      cursor: pointer;
    }
    .session-content {
      position: absolute;
      bottom: 0;
      p {
        margin: 5px;
        font-size: 12px;
      }
      h5 {
        margin: 0;
        background: $lp;
        padding: 5px 15px;
        width: auto;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
      }
    }
    .description {
      overflow: hidden;
      .view-more {
        word-break: break-word;
      }
    }
  }
  .play-icon {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .brand-link {
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.51);
    // padding: 3px 6px 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    svg {
      margin: 0 auto;
    }
    a {
      margin: 0 auto;
      text-decoration: none;
      color: #eee;
      display: flex;
      img {
        width: 17px;
      }
    }
  }
  .webTitle {
    color: var(--main-color);
    font-size: 13.5px;
    margin: 2%;
    .MuiButtonBase-root {
      text-align: left;
    }
  }
}
.dkt .card-style .description {
  color: #aaa !important;
  strong {
    color: #aaa !important;
  }
  p {
    color: #aaa !important;
    background-color: transparent !important;
    span {
      color: #aaa !important;
      background-color: transparent !important;
    }
  }
}
