@import "../../../assets/scss/mixin.scss";
@import "../../../assets/scss/variables.scss";
header {
  &.appBar {
    z-index: 1201;
    height: 56px;
    border-bottom: 1px solid var(--h-border);
    color: #707070;
    background-color: var(--main-header-bg-color);
    // @include color(color);
    justify-content: space-between;
    padding: 10px 3% 10px 25px;
    // @include color(backgroundColor);
    @include mobile {
      padding: 10px 15px;
      z-index: 3;
      height: 50px;
      border-bottom: none;
      justify-content: center;
    }
  }
  .MuiToolbarRegular {
    min-height: auto;
    padding: 0;
    justify-content: space-between;
    .search-field {
      @include mobile {
        display: none;
      }
      input {
        color: var(--input-text);
        font-weight: normal;
        font-size: 14px !important;
      }
    }
  }
  .headerLogo {
    width: 175px;
    display: flex;
    align-items: center;
    outline: none;
    a {
      outline: none;
    }
  }
  .hamburger {
    padding: 5px 12px;
    margin-right: 13px;
    color: var(--grey-white);
    a {
      display: flex;
    }
    &:hover {
      background: none;
    }
  }
  .logo {
    width: 80px;
    margin-left: 10;
  }
  .sectionDesktop {
    display: none;
    @include tab {
      display: flex;
    }
  }
  .sectionMobile {
    display: none;
    @include mobile {
      display: flex;
      button {
        min-width: auto;
        img {
          width: 22px;
        }
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  .headerRightButtons.uploadIcon svg {
    margin-right: 5px !important;
  }
  .headerRightButtons {
    margin-right: 15px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    color: var(--main-color);
    font-size: 13.5px;
    text-transform: initial;
    svg {
      // margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
    &:last-child {
      margin-right: 0;
      border-radius: 0;
    }
    &:hover {
      background: none;
      // color: #6394b4;
    }
    .MuiButton-label {
      top: 2px;
      position: relative;
      @include mobile{
        padding: 5px;
      }
    }
    .userIcon {
      object-fit: cover;
      width: 30px;
      // margin-right: 15px;
      border-radius: 30px;
      height: 30px;
      box-shadow: 1px 1px 1px #ccc;
      background-color: var(--profile-img-bg);
    }
  }
}
.header-search {
  display: none;
  @include mobile {
    display: flex;
    padding-left: 11%;
  }
  .back-btn {
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 15px;
    background: none;
    border: none;
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @include mobile {
      top: 9px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 7px;
      width: 12px;
      height: 2px;
      background: #909090;
      transform: rotate(45deg);
      top: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 7px;
      width: 12px;
      height: 2px;
      background: #909090;
      transform: rotate(135deg);
      top: 10px;
    }
    // &:hover {
    //   background: #eee;
    // }
  }
}
.dkt .search-field input {
  color: var(--input-text);
}
