@import "../../../../assets/scss/mixin.scss";
@import "../../../../assets/scss/variables.scss";
.text-box-popup {
  display: flex !important;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  color: #fff;
  text-align: left;
  padding: 0 25px;
  @include mobile-and-gplands {
    padding: 0 20px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    font-family: lato;
    color: #eee;
  }

  .description {
    font-size: 13px;
    // line-height: 18px;
    line-height: 30px;
    margin-top: 10px;
    font-family: lato-light;
    // max-height: calc(100vh - 350px);
    max-height: calc(100vh - 250px);
    overflow: hidden;
    color: #aaa !important;
    @include mobile-and-gplands {
      max-height: calc(100vh - 500px);
    }
    p {
      color: #aaa !important;
      strong {
        color: #aaa !important;
      }
      span {
        background-color: transparent !important;
        color: #aaa !important;
      }
    }
    .view-more {
      height: initial;
      font-size: 14px;
      line-height: 20px;
      color: #eee;
    }
  }
  .detail-arrow {
    bottom: -5px;
  }
}
.web-light {
  // cursor: pointer;
  @include mobile-and-gplands {
    padding: 0;
    display: block !important;
  }
  .img-container {
    top: 5%;
    @include mobile-and-gplands {
      top: 7%;
    }
  }
  img {
    position: relative;
    top: auto;
    left: auto;
    transform: initial;
    margin: 0 auto;
    height: 150px;
    width: 100%;
    // top: 5%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include mobile-and-gplands {
      position: absolute;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  .lb-webcard {
    // max-height: 50%;
    height: 50%;
    overflow: hidden;
    z-index: 2;
    background-image: linear-gradient(rgba(238, 238, 238, 1), rgba(245, 245, 245, 1));
    margin: 0 15px;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    @include mobile-and-gplands {
      // top: 20%;
      background-image: linear-gradient(rgba(238, 238, 238, 1), rgba(245, 245, 245, 1));
      min-height: 60%;
      margin: 15px;
      border-radius: 4px;
      padding: 10px;
      overflow: hidden;
    }
    .web-gradient {
      height: 45%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(rgba(256, 256, 256, 0.3), rgba(256, 256, 256, 0.7), rgba(256, 256, 256, 0.95));
    }
    h3 {
      margin-top: 10px;
      font-size: 17px;
      margin-bottom: 15px;
      color: #303030;

      @include mobile-and-gplands {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 0;
      }
    }
    span {
      font-size: 15px;
      color: #606060;
      line-height: 25px;

      @include mobile-and-gplands {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .web-icon {
      position: absolute;
      // width: 165px;
      padding: 6px 0;
      bottom: 10px;
      background: #fff;
      border-radius: 20px;
      -webkit-tap-highlight-color: transparent;
      transform: translate(-50%);
      left: 50%;
      border: none;
      box-shadow: 1px 3px 8px #aaa !important;
      @include mobile-and-gplands {
        width: auto;
      }
      a {
        padding: 6px 46px;
        text-decoration: none;
        @include mobile-and-gplands {
          width: auto;
        }
      }
      img {
        width: 18px;
        height: 18px;
        position: relative;
        top: 2px;
      }
      .svg-icon.web-link .primary {
        fill: #505050;
      }
      span {
        color: #505050;
        font-size: 18px;
        position: relative;
        padding: 0 5px;
      }
    }
  }
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    @include mobile {
      top: 50%;
      transform: translate(0, -50%);
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      border: none;
    }
  }
}
