.withScan {
  width: 48%;
  padding: 0 2em;
  text-align: center;
}
.scanTitle {
  margin-top: 0;
  padding: 5px 0;
  font-size: 20;
  color: #606060;
  font-weight: 400;
}
.scanQr {
  min-height: 200px;
  min-width: 200px;
  position: relative;
  .MuiCircularProgress-root {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    animation: none;
  }
}
.noAccountlink {
  max-width: 204px;
  font-size: 12px;
  display: flex;
  color: var(--input-text);
  margin: 20px auto 10px;
  height: 37px;
}
