.slider a.nextButton {
  z-index: 11;
  padding: 100px 10px 100px 60px;
}

.slider a.previousButton {
  z-index: 11;
  padding: 100px 60px 100px 10px;
  &.disabled {
    display: none;
  }
}
.desktop_img .detail-arrow {
  position: absolute;
  bottom: -30px;
  svg {
    position: absolute;
    right: 22%;
  }
}
