@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variables.scss";
.notifi-header {
  color: #505050;
  background: #efefef;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  position: fixed;
  top: 44px;
  width: 400px;
  z-index: 11;
}
.notif-msg {
  padding-top: 8px;
  text-align: center;
  height: 90vh;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: calc(100vh - 100px);
    height: auto;
    align-items: center;
  }
  .content {
    @include mobile {
      width: 100%;
      // position: absolute;

      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  img {
    width: 20%;
    height: 20%;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 50%;
    @include mobile {
      width: 30%;
      margin: 0;
      margin-bottom: 30px;
      max-width: 102px;
    }
  }
  h5 {
    font-size: 17px;
    font-weight: 400;
    color: #aaa;
    margin: 10px 0;
  }
  h6 {
    font-weight: 400;
    margin: 10px 0;
    color: #707070;
    font-size: 13px;
    @include mobile {
      margin-top: 0;
    }
  }
}
/*notifications*/
.notification-tile,
.notification-scroll {
  display: flex;
  margin: 13.5px 0;
  text-decoration: none;
  color: var(--main-color);
  font-size: 13px;
  cursor: pointer;
  justify-content: space-between;
  flex-wrap: wrap;
  &:hover {
    color: #6394b4;
  }
  @include mobile {
    padding: 0 10px;
  }
  .time {
    font-size: 10px;
  }
}
.notification-image {
  flex-basis: 1 0 100%;
  .img-container {
    width: 95% !important;
    height: 130px;
    margin: 0.5em auto;
    border-radius: 4px;
    clear: both;
    position: relative;
    img {
      object-fit: cover;
      height: auto !important;
      max-height: 100%;
      border-radius: 4px;
    }
  }
}
.notificationSlider {
  display: flex;
  margin: 6.75px 0;
  white-space: nowrap;
  width: 95%;
  overflow: auto;
  padding: 0;
  margin: 0.5em auto;
  li {
    margin-right: 10px;
    margin-bottom: 4px;
    img {
      width: 90px !important;
      height: 130px !important;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
.notifbtn {
  width: 100%;
  display: block;
}
