@import "../../../../assets/scss/variables.scss";

.dialog-modal {
  &.report-content-modal {
    .MuiPaper-root {
      width: 320px;
      padding: 30px 12px 20px;
      height: 375px;
      border-radius: 15px;
      .MuiDialogTitle-root {
        margin-bottom: 15px;
        text-align: center;
        .MuiTypography-root {
          margin-bottom: 5px;
        }
      }
      .modal-body {
        max-height: 240px;
        overflow-y: auto;
        padding: 0 10px;
        .redio-btn {
          line-height: 40px;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--text-color);
          // font-family: lato-light;
          -webkit-tap-highlight-color: transparent;
          &:hover {
            cursor: pointer;
            color: #6394b4;
          }
          input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            width: 15px;
            height: 15px;
            padding: 3px;
            background-clip: content-box;
            // border: 1px solid #5393cf;
            border: 1px solid #505050;
            background-color: #fff;
            border-radius: 50%;
            outline: 0;
            margin-right: 10px;
            margin-top: 0;
            &:checked {
              background-color: #ea3c78;
              border: 1px solid #ea3c78;
            }
          }
          label {
            cursor: pointer;
            color: var(--text-color);
          }
        }
      }
      .modal-footer {
        ul {
          display: flex;
          justify-content: flex-end;
          li {
            margin: 0 15px;
            &:last-child {
              margin-right: 0;
            }
            button {
              &:disabled {
                color: var(--menu-btn-color);
              }
            }
            .error {
              color: $lp;
              font-size: 11px;
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}
.dkt {
  .dialog-modal.report-content-modal .MuiPaper-root .modal-body .redio-btn input[type="radio"] {
    background-color: #333;
    border: 1px solid #aaa !important;
  }
  .dialog-modal.report-content-modal .MuiPaper-root .modal-body .redio-btn input[type="radio"]:checked {
    background-color: #aaa;
  }
}
