@import "../../../assets/scss/mixin.scss";

html {
  font-family: product-sans;
  font-size: 14px;
}

html,
body {
  margin: 0;
  width: 100%;
  padding: 0 !important;
  background-color: var(--main-bg-color);
}
body {
  background: #fbfbfb;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #01579b;
}
select{
  -webkit-appearance: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: #f5f5f5;
  @include mobile {
    width: 3px;
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background: #01579b;
  border-radius: 5px;
  @include mobile {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background: var(--verScrollBg);
  @include mobile {
    display: none;
  }
}

.container {
  position: relative;
  top: 70px;
  padding-top: 5px;
  @include desktop {
    padding-top: 5px;
    -webkit-transition: 0.26s ease-in-out !important;
    transition: 0.26s ease-in-out !important;
  }
}
.drawerOpen {
  width: calc(100% - 200px);
  left: 200px;
  @include mobile {
    left: 0;
    width: 100%;
    padding-top: 0;
    top: 50px;
    margin-bottom: 30px;
  }
}
.drawerClose {
  width: calc(100% - 250px);
  left: 250px;
  padding: 15px 25px;
  @include mobile {
    left: 0;
    width: 100%;
  }
}

.mobile-hidden {
  @include mobile {
    display: none !important;
  }
}

.tab-hidden {
  @include tab {
    display: none !important;
  }
}
.sub-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background: var(--main-bg-color);
  z-index: 4;
  padding: 0 15px;
  &.text-left {
    justify-content: left;
    padding-left: 50px;
  }
  &.space-between {
    padding-left: 50px;
    justify-content: space-between;
  }
  h1 {
    width: 100%;
    margin: 0;
    // padding-left: 35px;
    font-weight: normal;
    font-size: 20px;
    color: var(--menu-btn-color-active);
  }
  .back-btn {
    left: 10px;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/* common css */

.btn {
  color: #fff;
  background-color: #01579b;
  font-size: 20px;
  text-align: center;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  cursor: pointer;
}

/*helper class */
.text-center {
  text-align: center;
}
.margin-0 {
  margin: 0;
}
