.cat-links {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 10px auto 10px;
  display: flex;
  button {
    margin-right: 14px;
    width: 85px;
    letter-spacing: 1px;
    border-radius: 7px;
    border: 1px solid var(--menu-btn-border) !important;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--menu-btn-color);
    font-size: 13px;
    display: block;
    padding: 5px 0;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-family: lato;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    &:last-child {
      margin-right: 0;
    }
    &:active {
      background-color: var(--menu-btn-bg-active);
      color: var(--menu-btn-color-active);
    }
  }
}
