@import "../../../../../assets/scss/variables.scss";

.enterOtp {
  margin-top: 0;
  padding: 5px 0;
  font-size: 20px;
  color: #606060;
  font-weight: 400;
}

.inputOtp {
  margin-top: 2em;
  display: block;
  width: 100%;
  margin: 15px 0 10px;
  height: 35px;
  // border-radius: 3px;
  padding: 0 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  background: 0;
  outline: 0;
  color: var(--input-text);
  border-radius: 0;
}

.error {
  font-size: 12px;
  color: $lp;
  text-align: left;
}

.resendOtp {
  color: $lp;
  font-size: 12px;
  text-align: right;
  padding: 3px 0;
  // margin-bottom: 1em;
}

.noAccountLinkMobile {
  font-size: 12px;
  color: var(--menu-btn-color);
  margin-top: 1.5em;
  margin-bottom: 10px;
  line-height: 18px;
}

.submitButton {
  background: $lp;
  color: #fff;
  border: 1px solid $lp;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  padding: 7px 35px;
  display: block;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  margin: 3.5em auto auto;
}

.submitButton:disabled {
  border-color: #f56e9d;
  background-color: #f56e9d;
}

.change-mobile {
  display: inline;
  font-size: 12px;
  color: $lp !important;
}
