@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variables.scss";
.contentPage {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.98);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1250;
  display: flex;
  justify-content: center;

  .slick-slider {
    background: #050505;
    width: 50%;
    height: calc(100% - 20px);
    max-width: 1280px;
    overflow: hidden;
    z-index: 9;
    margin: 10px 0;
    @include mobile {
      width: 100%;
      margin: 0;
      height: 100%;
    }
    &.comment-active {
      margin: 10px 0 10px auto !important;
      @include mobile {
        margin: 0 !important;
        width: 0;
      }
    }
    .slick-list {
      width: 100%;
      height: 100% !important;
      position: relative;
      .slick-track {
        height: 100% !important;
        width: 100%;
        transition: transform 500ms ease 0s;
        .slick-slide {
          height: 100%;
          .image-container {
            width: 100%;
            height: 100%;
            position: absolute;
            outline: 0;

            .closeBtn {
              right: 0;
              top: 10px;
              &:hover {
                background: hsla(0, 0%, 100%, 0.2);
              }
            }
            .image-wrapper {
              position: relative;
              width: 100%;
              height: 100%;
              background: #000;
              // .detail-arrow {
              //   z-index: 1;
              //   position: absolute;
              //   text-align: center;
              //   width: 100%;
              //   bottom: 40px;
              //   svg {
              //     position: absolute;
              //     right: 22%;
              //     bottom: 0px;
              //     @include mobile {
              //       bottom: 60px;
              //     }
              //   }
              // }
              .detail-arrow {
                z-index: 1;
                position: absolute;
                text-align: center;
                width: 100%;
                bottom: 32px;
                @include mobile {
                  bottom: 20px;
                }
                svg {
                  position: absolute;
                  animation: bounce 1.5s;
                  animation-direction: alternate;
                  animation-timing-function: ease-in-out;
                  animation-iteration-count: infinite;
                  @include mobile {
                    right: 20%;
                  }
                  @keyframes bounce {
                    0% {
                      bottom: 8px;
                    }
                    25% {
                      bottom: 0px;
                    }
                    50% {
                      bottom: 5px;
                    }
                    75% {
                      bottom: 0px;
                    }
                    100% {
                      bottom: 2px;
                    }
                  }
                }
              }
              .previousButton {
                svg {
                  polygon {
                    fill: #a5a5a5;
                    opacity: 0.7;
                  }
                }
              }
              .nextButton {
                svg {
                  polygon {
                    fill: #a5a5a5;
                    opacity: 0.7;
                  }
                }
                &.disabled {
                  display: none;
                }
              }
              .desktop_img {
                height: 75%;
                position: relative;
                top: 7%;
                .slider {
                  height: 100% !important;
                }
                .slide {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  overflow: hidden;
                  .img-container {
                    background: transparent;
                    img {
                      height: auto !important;
                      width: auto !important;
                      max-height: 100%;
                      max-width: 100%;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
                      object-fit: cover;
                    }
                  }
                }
                .album-dot {
                  bottom: -20px;
                  position: absolute;
                  left: 50%;
                  -webkit-transform: translate(-50%);
                  transform: translate(-50%);
                  display: flex;
                  align-items: center;
                  @include mobile {
                    bottom: -12px;
                  }
                  .album-dot-item {
                    width: 5px;
                    height: 5px;
                    background: #a5a5a5;
                    border-radius: 50%;
                    margin-right: 10px;
                    cursor: pointer;
                    &.active {
                      width: 10px;
                      height: 10px;
                      background: #fff;
                    }
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }
              .img_height {
                height: 68%;
              }
              .image-icon-text {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
                color: #fff;
                padding: 0 15px;
                .image-text {
                  color: #cfcfcf;
                  margin-bottom: 30px;
                  display: none;
                  .description {
                    position: relative;
                    margin-bottom: 10px;
                    color: #606060;
                    margin-top: 10px;
                    line-height: 18px;
                    .view-more {
                      font-size: 14px;
                      letter-spacing: 0.4px;
                      line-height: 18px;
                      min-height: 18px;
                      height: auto;
                      overflow: hidden;
                      position: relative;
                      background: rgba(0, 0, 0, 0.7);
                    }
                  }
                }
                .img-icon {
                  display: none;
                  margin: 16px 0;
                  padding: 0;
                  &.active {
                    display: flex;
                  }
                  @include mobile {
                    flex-wrap: wrap;
                    display: flex;
                    margin: 15px 0 0;
                    justify-content: space-between;
                  }
                  li {
                    padding: 0;
                    padding-right: 30px;
                    cursor: pointer;
                    margin-right: 15px;
                    -webkit-tap-highlight-color: transparent;
                    width: auto;
                    @include mobile {
                      width: 33%;
                      height: 33px;
                      margin-right: 0;
                      margin-bottom: 15px;
                      font-size: 19px;
                      padding-left: 3px;
                      padding-right: 0;
                      display: flex;
                      justify-content: center;
                      color: #a5a5a5;
                      font-size: 15px;
                      &.s-like {
                        order: 1;
                        justify-content: left;
                      }
                      &.comment {
                        order: 2;
                      }
                      &.more-icon {
                        order: 3;
                        justify-content: flex-end;
                      }
                      &.report {
                        order: 4;
                        justify-content: left;
                      }
                      &.download {
                        order: 5;
                      }
                      &.share {
                        order: 6;
                        justify-content: flex-end;
                        padding-right: 10px;
                      }
                    }
                    img {
                      position: relative;
                      width: 16px;
                      margin-right: 10px;
                      float: left;
                      @include mobile {
                        position: relative;
                        width: 17px;
                        vertical-align: top;
                        left: 9px;
                        margin-right: 0;
                      }
                    }
                    span {
                      color: #a5a5a5;
                      font-size: 14px;
                      margin-left: 4px;
                      line-height: 14px;
                      position: absolute;
                      right: 0;
                      @include mobile {
                        position: relative;
                      }
                    }
                    &.download {
                      margin-left: auto;
                    }
                    &:last-child {
                      padding-right: 10px;
                      margin-right: 0;
                    }
                  }
                }
              }
              &:hover {
                .img-icon {
                  display: flex;
                }

                .video-controls {
                  display: flex;
                }
              }
              .detail-desc {
                font-size: 13px;
                color: #a5a5a5;
                position: absolute;
                bottom: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-align: left;
                cursor: pointer;
                margin: auto 15px;
                line-height: 20px;
                width: 80%;
                @include mobile {
                  bottom: 115px;
                  width: 65%;
                }
              }
              .view-more {
                color: #a5a5a5;
                position: absolute;
                bottom: 50px;
                right: 20px;
                @include mobile {
                  bottom: 117px;
                }
              }
            }
          }
        }
      }
    }
  }
  .comment-container {
    padding: 10px 0 5px 15px;
    color: #707070;
    width: 300px;
    overflow-y: auto;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    background: var(--main-modal-bg-color);
    margin-right: auto;
    margin-left: 0;
    overflow: hidden;
    height: calc(100% - 20px);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    /* template class */

    &.comment-animate {
      animation: modalInM 0.5s;
      @include mobile-and-gplands {
        animation: modalIn 0.5s;
      }
    }

    @-webkit-keyframes modalIn {
      from {
        transform: translateY(50%);
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes modalIn {
      from {
        transform: translateY(50%);
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes modalInM {
      from {
        transform: translateX(50%);
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes modalOut {
      from {
        opacity: 1;
      }

      to {
        transform: translateY(50%);
        opacity: 0;
        display: none;
      }
    }

    @keyframes modalOut {
      from {
        opacity: 1;
      }

      to {
        transform: translateY(50%);
        opacity: 0;
        display: none;
      }
    }
  }
  .back-btn {
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 15px;
    background: none;
    border: none;
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @include mobile {
      top: 12px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 7px;
      width: 12px;
      height: 2px;
      background: #a5a5a5;
      transform: rotate(45deg);
      top: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 7px;
      width: 12px;
      height: 2px;
      background: #a5a5a5;
      transform: rotate(135deg);
      top: 10px;
    }
    // &:hover {
    //   background: #eee;
    // }
  }
  .logo {
    height: 20px;
  }
}
.session-detail {
  z-index: 10;
  position: absolute;
  text-align: center;
  margin-top: 0;
  width: auto;
  padding: 6px 10px 0;
  background-color: #000;
  a {
    text-decoration: none;
    color: #ccc;
    margin-right: 15px;
    font-size: 14px;

    float: left;
    line-height: 40px;
    svg {
      vertical-align: middle;
    }
    &::last-child {
      margin-right: 0;
    }
  }
}
.session-container {
  height: 95% !important;
  margin-top: 5%;
  @include mobile {
    margin-top: 20%;
    .image-wrapper {
      @include mobile {
        height: 96% !important;
      }
      .image-icon-text {
        bottom: 20px !important;
      }
    }
  }
}
