.drawer {
  width: 250px;
  flex-shrink: 0;
  white-space: "nowrap";
  &.drawerOpen {
    width: 250px;
    max-width: 250px;
    padding-right: 3px;
  }
  .sidebarStyle {
    transition: 0.26s ease-in-out !important;
    -webkit-transition: 0.26s ease-in-out !important;
    border-right: 0;
    box-shadow: 1px 1px 1px var(--input-bg) !important;
    top: 70px;
    width: 250px;
    max-width: 250px;
    padding-right: 3px;
    background-color: var(--main-bg-color);
    height: calc(100% - 70px);
    .MuiTreeView-root {
      max-width: initial;
      height: calc(100% - 195px);
      overflow: auto;
      flex: initial;
      > .MuiTreeItem-root {
        > .MuiTreeItem-content {
          /* only to target top level element */
          &:hover {
            background-color: #4f83cc;
            color: #fff;
          }
        }
        &:hover{
          > .MuiTreeItem-content{
            color: #fff;
          }
        }
        .MuiTreeItem-content {
          max-width: 229px;
          /* remover default width of library to make it custom */
          .MuiTreeItem-iconContainer {
            width: 0;
          }
          &:hover {
            color: #fff;
          }
          .MuiTreeItem-label {
            background: none;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-left: 15px;
          }
          .MuiTypography-root{
            font-size: 14px;
            line-height: 24px;
          }
        }
        &:focus {
          > .MuiTreeItem-content {
            background-color: #4f83cc;
            color: #fff;
            .MuiTypography-root {
              background: none;
              color: #ffffff;
            }
          }
        }
        .MuiCollapse-wrapper {
          /*second level dropdown*/
          .MuiCollapse-wrapper {
            .MuiTreeItem-label {
              margin-left: 20px;
            }
            /*third level dropdown*/
            .MuiCollapse-wrapper {
              .MuiTreeItem-label {
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }
  /* add button */
  .add-button {
    margin: 15px;
    margin-top: 18px;
    height: 56px;
    line-height: 56px;
    min-width: 56px;
  }
}
