@import "../../../assets/scss/variables.scss";

.drawer {
  width: 200px;
  flex-shrink: 0;
  white-space: "nowrap";
  &.drawerOpen {
    width: 200px;
    padding-right: 3px;
  }
  .sidebarStyle {
    transition: 0.26s ease-in-out !important;
    -webkit-transition: 0.26s ease-in-out !important;
    border-right: 0;
    box-shadow: 1px 1px 1px var(--h-border);
    top: 56px;
    width: 200px;
    padding-right: 3px;
    background-color: var(--main-bg-color);
    height: calc(100% - 56px);
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
    // hr {
    //   background-color: var(--input-bg);
    // }
    .nestedRoot {
      width: 100%;
      max-width: 360px;
      padding: 0;
    }
    .MuiCollapse-container {
      .NavItem {
        &.active {
          background: 0 0 !important;
          color: $lp;
        }
      }
    }
    .NavItem {
      padding: 9px 0;
      // padding: 0;
      // line-height: 38px;
      border-radius: 4px;
      color: var(--main-color);
      // &:hover {
      //   color: #6394b4;
      // }
      &.active {
        background-color: $lp;
        color: #fff;
      }
      .MuiButtonBase-root {
        padding: 0;
        // padding-left: 28px;
        margin-left: 28px;
        border-radius: 0;
      }
      .NavItemText {
        margin: 0;
        font-size: 13.5px;
        font-weight: 500;
        padding-left: 21px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.nested {
          padding-left: 75px;
        }
      }
      > svg {
        font-size: initial;
      }
    }
    .privacyContact .NavItem .NavItemText {
      padding-left: 65px;
      .MuiTypography-root {
        font-size: 13px;
      }
    }
  }
  &.drawerClose {
    width: 60px;
    overflow-x: hidden;
    .sidebarStyle {
      // width: 60px !important;
      width: 70px !important;
      box-shadow: none;
      padding-right: 0;
      .privacyContact,
      .MuiDivider-root {
        display: none;
      }
      .NavItem {
        height: 55px;
        &.NavItemPlayStore,
        &.NavItemAppStore {
          display: none;
        }
        &.active {
          background-color: transparent;
          .MuiTypography-root {
            color: var(--sidemenu-toggle-active);
          }
        }
        &:before,
        &:after {
          top: 9px;
        }
        .MuiButtonBase-root {
          margin-top: -15px;
        }
        .MuiTypography-root {
          position: absolute;
          font-size: 10px;
          font-style: normal;
          // bottom: 0;
          top: 33px;
          // left: 60%;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 50px;
          text-align: center;
        }
        &.NavItemCountry,
        &.NavItemLanguage {
          .NavItemText {
            width: 60px;
            height: 15px;
            // position: absolute;
            overflow: hidden;
            top: 45px;
            // .MuiTypography-root {
            //   height: 15px;
            //   bottom: 19px;
            // }
          }
        }
      }
    }
  }
}
