@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variables.scss";

.myAccount {
  padding: 10px 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mobile {
    justify-content: inherit;
  }
  @include mobile {
    padding: 5px;
    padding: 5px;
    position: fixed;
    z-index: 3;
    background: var(--main-bg-color);
    width: 100%;
  }
  .profileImage {
    width: 120px;
    height: 120px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 3px 3px 4px #ddd;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    margin-left: 4rem;
    margin-right: 30px;
    @include mobile {
      width: 50px;
      height: 50px;
      margin: 0;
      margin-left: 5px;
      border: 0;
      box-shadow: none;
    }
    img,
    svg {
      object-fit: cover;
      background-color: var(--profile-img-bg);
      border: 1px solid var(--profile-img-bg);
      height: 120px;
      width: 100%;
      border-radius: 50%;
      @include mobile {
        height: 50px;
      }
    }
    svg {
      padding: 25px;
      @include mobile {
        padding: 10px;
      }
    }
    button {
      .MuiCircularProgress-root {
        position: absolute;
        svg {
          background-color: transparent;
          padding: 0;
          height: auto;
          border: none;
        }
      }
      .MuiCircularProgress-colorPrimary {
        color: $lp;
      }
    }
    // .signin-user {
    //   .primary {
    //     fill: #707070;
    //   }
    // }
  }
  .actionBtn {
    flex: 1 0 100%;
    padding: 27px 0;
    @include mobile {
      padding: 20px 0 10px 10px;
    }
    h2 {
      font-size: 18px;
      font-weight: normal;
      color: var(--title);
      @include mobile {
        margin: 0;
        font-size: 16px;
      }
    }
    .lb-msg {
      font-size: 13px;
      position: relative;
      text-align: center;
      bottom: 35px;
      color: #a5a5a5;
      background: #222;
      padding: 8px;
      z-index: 9;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}
