@import "../../../../../assets/scss/mixin.scss";
@import "../../../../../assets/scss/variables.scss";
.modal {
  .paper {
    &.upload-modal {
      height: calc(100vh - 30px) !important;
      max-width: 850px;

      @include mobile {
        height: 100% !important;
        overflow: hidden;
      }
      .modalContent {
        max-height: calc(100% - 20px);
        // margin: 10px;
        @include mobile {
          overflow: hidden;
        }
      }
      .modalHeader {
        margin-bottom: 0;
        padding: 0 20px;
        @include mobile {
          height: auto;
          padding: 0;
        }
        .modalTitle {
          text-align: center;
          @include mobile {
            text-align: left;
            padding-left: 50px;
          }
        }
        .button-cat {
          position: relative;
          width: 100%;
          margin-bottom: 5px;
          margin-top: 15px;
          text-align: left;
          @include mobile {
            margin-bottom: 0;
            display: flex;
            padding: 0 2%;
            margin-top: 10px;
          }
          .cat-btn {
            position: relative;
            padding: 7px;
            min-width: 120px;
            margin-right: 20px;
            background: 0 0;
            border: 1px solid var(--menu-btn-border) !important;
            color: var(--menu-btn-color);
            cursor: pointer;
            outline: 0;
            border-radius: 4px;
            font-family: lato;
            @include mobile {
              font-size: 15px;
              padding: 5px;
              margin-right: 10px;
              width: 25%;
              border: none;
              min-width: auto;
            }
            &:last-child {
              @include mobile {
                margin-right: 0;
                padding: 5px 0;
              }
            }
            &.active {
              background: var(--menu-btn-bg-active);
              color: var(--menu-btn-color-active);

              @include mobile {
                // background-color: transparent;
                // color: grey;
                // border-bottom: 1px solid $lp;
              }
            }
          }
        }
      }

      .modalBody {
        padding: 15px 20px 10px;
        flex-direction: column;
        flex-wrap: inherit;
        max-height: 480px;
        overflow: auto;
        @include mobile {
          padding: 3% 2%;
          height: calc(100vh - 105px);
          justify-content: inherit;
          flex-wrap: nowrap;
          max-height: inherit;
        }

        .description {
          position: relative;
          color: #707070;
          font-size: 14px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include mobile {
            margin-top: 20px;
          }

          section {
            height: 149px;
            width: 100%;
            border: 1px solid var(--btn-border) !important;
            padding: 0 10px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              cursor: pointer;
              width: 39px;
              height: 30px;
            }
          }
          .drag-and-drop {
            outline: 0;
            width: 100%;
            cursor: pointer;
          }

          .upload-btn {
            width: 130px;
            color: var(--menu-btn-color-active);
            background: var(--menu-btn-bg-active);
            font-size: 13px;
            margin: 4px auto;
            padding: 7px 10px;
            cursor: pointer;
            border-radius: 4px;
          }

          span {
            font-size: 12px;
            cursor: pointer;
            color: #707070;
          }
          .error {
            margin-top: 0;
            color: #ea3c78;
            width: 100%;
          }
        }

        .description-content {
          // border: 1px solid #efefef;
          border-radius: 4px;
          margin-top: 2px;
          width: 100%;
          outline: 0;

          textarea {
            font-family: lato;
            padding: 5px 9px;
            border-radius: 4px;
            border: 1px solid var(--btn-border) !important;
            font-size: 13px !important;
            height: 75px;
            display: block;
            width: 100%;
            resize: none;
            font-size: 13px;
            color: var(--input-text);
            background: var(--input-bg);
            outline: 0;
            &::-webkit-input-placeholder {
              color: var(--placeholder);
            }
            &:focus {
              font-size: 13px !important;
            }
          }
        }
        [contentEditable="false"]:empty:not(:focus):before {
          content: attr(data-text);
          cursor: default;
          padding: 5px 9px;
          font-size: 13px;
          &::-webkit-input-placeholder {
            color: var(--placeholder);
          }
        }
        .step-one-images {
          width: 100%;
          display: flex;
          margin: 6px 0;
          max-width: 770px;
          overflow-x: auto;
          overflow-y: hidden;
          border: 1px solid var(--btn-border) !important;
          border-radius: 4px;
          height: 86px;

          .img {
            height: 70px;
            max-width: 85px;
            min-width: 85px;
            position: relative;
            margin: 6px 5px;
            button {
              &.delete-img {
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                right: 0;
                outline: 0;
                border: 0;
                z-index: 999;
                cursor: pointer;

                // &:hover {
                //   background-color: hsla(0, 0%, 100%, 0.4);
                // }

                &::before {
                  content: "";
                  position: absolute;
                  left: 4px;
                  width: 12px;
                  top: 9px;
                  height: 2px;
                  background: #eee;
                  -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                }

                &:after {
                  content: "";
                  position: absolute;
                  left: 4px;
                  width: 12px;
                  top: 9px;
                  background: #eee;
                  height: 2px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
              }
            }

            img {
              width: 100px;
              height: 100%;
              object-fit: cover;
            }
            > div {
              background-color: $de;
            }
          }
        }

        /*upLoad Stories and link*/
        .upload-label {
          display: block;
          width: 100%;
          resize: none;
          font-size: 13px;
          color: var(--title);
          background: 0 0;
          padding-bottom: 0.5em;
          text-align: left;
        }
        .upload-textarea {
          width: 100%;
          height: 45px;
          margin-bottom: 10px;
          font-family: lato;
          padding: 5px 9px;
          border-radius: 4px;
          border: 1px solid var(--btn-border) !important;
          font-size: 13px !important;
          resize: none;
          color: var(--input-text);
          background-color: var(--input-bg);
          &::-webkit-input-placeholder {
            font-size: 13px;
            color: var(--placeholder);
          }
          &:focus {
            font-size: 13px !important;
            outline: none;
          }
        }
        /*quil editor */
        .quill {
          text-align: left;
          width: 100%;
          .ql-editor {
            min-height: 180px;
            color: var(--input-text);
            background-color: var(--input-bg);
            font-size: 13px !important;
            &::-webkit-input-placeholder {
              color: var(--placeholder);
            }
            &::placeholder {
              color: var(--placeholder);
            }
            p {
              -webkit-user-select: text;
            }
            &:focus {
              font-size: 13px !important;
            }
          }
          .ql-blank {
            &:before {
              font-style: normal !important;
              font-size: 13px;
              color: var(--placeholder) !important;
            }
          }

          .ql-toolbar {
            border: 1px solid #efefef;
            border-radius: 4px;
            button {
              height: 21px !important;
              width: 21px !important;
              svg {
                color: #707070;
                .ql-fill {
                  fill: #707070;
                }
              }
            }
          }
          .ql-container.ql-snow {
            max-height: 210px !important;
            overflow: auto !important;
          }
          .ql-snow {
            border: 1px solid var(--btn-border) !important;
            border-radius: 4px;
            .ql-picker {
              .ql-picker-label {
                color: #444;
                font-size: 13px;
              }
            }
            .ql-formats {
              margin-right: 8px !important;
            }
          }
        }
        .submit {
          width: 200px;
          margin: 0 auto;
          margin-top: 25px;
          min-height: 35px;
          @include mobile {
            width: 100%;
            height: 45px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .pbar {
          margin-top: 10px;
          padding: 0 10px;
          @include mobile {
            display: none;
          }
          img {
            width: 100%;
            height: 7px;
          }
        }
        .site-desc[contentEditable="false"]:empty:not(:focus):before {
          content: attr(data-text);
          cursor: default;
          padding: 5px 9px;
          font-size: 13px;
          &::-webkit-input-placeholder {
            color: var(--placeholder);
          }
        }
        .site-desc {
          padding: 4px;
          // border: 1px solid #efefef;
          border: 1px solid var(--btn-border) !important;

          border-radius: 4px;
          margin-top: 20px;
          display: flex;
          width: 100%;
          height: 226px;
          .site-img {
            text-align: center;
            width: 20%;
            float: left;
            margin-top: 5px;
            img {
              max-height: 300px;
              width: 100%;
            }
          }
          .site-content {
            width: 80%;
            padding: 0 20px;
            float: right;
            max-height: 215px;
            overflow: auto;
            .title {
              color: var(--main-color);
              font-size: 13.5px;
              margin: 10px 0 15px;
            }
            .desc {
              line-height: 22px;
              font-size: 13px;
              color: var(--text-color);
            }
            p {
              font-size: 12px;
              margin: 5px 0;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
